{
  "openapi": "3.0.0",
  "info": {
    "title": "CreptaPay API",
    "version": "1.0.0",
    "description": "External API endpoints for CreptaPay payment processing."
  },
  "servers": [
    {
      "url": "https://api.creptapay.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "paths": {
    "/payment": {
      "post": {
        "summary": "Create Payment",
        "description": "Initialize a new checkout payment transaction. Requires a public key starting with pk_.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "items"
                ],
                "properties": {
                  "customer": {
                    "type": "object",
                    "required": [
                      "first_name",
                      "last_name",
                      "email"
                    ],
                    "properties": {
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "amount",
                        "quantity"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "description": {
                    "type": "string"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment successfully created"
          }
        }
      },
      "get": {
        "summary": "List Payments",
        "description": "Retrieve list of payments. Requires secret API key starting with sk_.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved payments"
          }
        }
      }
    },
    "/payment/{id}": {
      "get": {
        "summary": "Get Payment Detail",
        "description": "Retrieve specific transaction details. Requires secret API key starting with sk_.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details"
          }
        }
      }
    },
    "/payment/reference/{reference}": {
      "get": {
        "summary": "Get Payment by Reference",
        "description": "Public endpoint to retrieve payment status and information by transaction reference.",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved payment"
          }
        }
      }
    }
  }
}